@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --BODY-BG: #ff7979;
  --TITLE-CLR: #fff;
  --DESCRIPTION-CLR: #fff;
  --CTA-CLR: #fff;
  --CTA-BG: #5e54a4;
  --FORM-BG: #fff;
  --INPUT-CLR: #3d3b48;
  --PLACEHOLDER-CLR: hsla(249, 10%, 26%, 0.75);
  --INPUT-BORDER-CLR: #dedede;
  --SUBMIT-BUTTON-BG: #38cc8b;
  --SUBMIT-BUTTON-CLR: #fff;
  --TCS-CLR: #bab7d4;
  --TCS-LINK-CLR: #ff7979;

  /* COLORS-STATES */
  --ERROR-MESSAGE: #ff7979;
  --SUCCESS-MESSAGE: green;
  --SUBMIT-BUTTON-DISABLED-BG: #6c757d;

  /* SHADOWS */
  --CTA-SHADOW: 0px 8px 0px 0px hsla(0, 0%, 0%, 0.15);
  --FORM-SHADOW: 0px 8px 0px 0px hsla(0, 0%, 0%, 0.15);
  --SUBMIT-BUTTON-SHADOW: inset 0px -4px 0px 0px hsla(0, 0%, 0%, 0.0909);

  /* TYPOGRAPHY */
  --FF: "Poppins", sans-serif;

  /* TYPOGRAPHY-SHARED */
  --DESCRIPTION-SHARED: 500 1rem/1.625rem var(--FF);
  --CTA-SHARED: normal 0.9375rem/1.625rem var(--FF);
  --CTA-LS-SHARED: 0.0169rem;
  --CTA-BOLD-SHARED: bold;
  --INPUT-SHARED: 600 0.875rem/1.625rem var(--FF);
  --INPUT-LS-SHARED: 0.0156rem;
  --SUBMIT-BUTTON-SHARED: 600 0.9375rem/1.625rem var(--FF);
  --SUBMIT-BUTTON-LS-SHARED: 0.0625rem;
  --TCS-LINK-SHARED: bold;
  --MESSAGE-SHARED: italic 500 0.6875rem var(--FF);

  /* TYPOGRAPHY-MOB */
  --TITLE-MOB: bold 1.75rem/2.25rem var(--FF);
  --TITLE-LS-MOB: -0.0181rem;
  --TCS-MOB: 500 0.6875rem/1.3125rem var(--FF);

  /* TYPOGRAPHY-DSK */
  --TITLE-DSK: bold 3.125rem/3.4375rem var(--FF);
  --TITLE-LS-DSK: -0.0325rem;
  --TCS-DSK: 500 0.6875rem/1.625rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  place-content: center;
  padding: 88px 1.5rem 4.25rem;
  background-color: var(--BODY-BG);
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: repeat;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
}

/* || WRAPPER */
.section-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4rem;
}

/* || HERO */
.hero__title {
  font: var(--TITLE-MOB);
  color: var(--TITLE-CLR);
  max-width: 327px;
  letter-spacing: var(--TITLE-LS-MOB);
  margin-bottom: 1rem;
}

.hero__description {
  font: var(--DESCRIPTION-SHARED);
  color: var(--DESCRIPTION-CLR);
  max-width: 327px;
}

/* || MAIN */
main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.main__cta {
  background-color: var(--CTA-BG);
  max-width: 327px;
  height: 88px;
  padding: 1.125rem 4.125rem 1.125rem 4.1875rem;
  color: var(--CTA-CLR);
  font: var(--CTA-SHARED);
  letter-spacing: var(--CTA-LS-SHARED);
  box-shadow: var(--CTA-SHADOW);
  border-radius: 10px;
}

.main__cta span {
  font-weight: var(--CTA-BOLD-SHARED);
}

.signup-form {
  width: 327px;
  min-height: 442px;
  border-radius: 10px;
  background-color: var(--FORM-BG);
  box-shadow: var(--FORM-SHADOW);
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
}

.form-container {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 279px;
}

input {
  width: 100%;
  padding: 0.9375rem calc(16.38px + 24px + 12px) 0.9375rem 1.2131rem;
  color: var(--INPUT-CLR);
  font: var(--INPUT-SHARED);
  letter-spacing: var(--INPUT-LS-SHARED);
  border: 1px solid var(--INPUT-BORDER-CLR);
  border-radius: 5px;
}

input::placeholder {
  color: var(--PLACEHOLDER-CLR);
}

input:focus {
  outline: none;
  box-shadow: none;
}

input.valid {
  color: var(--INPUT-CLR);
}

input.invalid {
  color: var(--ERROR-MESSAGE);
  border-color: var(--ERROR-MESSAGE);
}

.status-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16.38px;
  display: none;
}

.status-icon img {
  max-width: 24px;
}

.message {
  position: absolute;
  right: 0px;
  top: 59px;
  display: none;
  font: var(--MESSAGE-SHARED);
}

.error-message {
  color: var(--ERROR-MESSAGE);
}

.success-message {
  color: var(--SUCCESS-MESSAGE);
}

.sign-up-btn {
  text-transform: uppercase;
  font: var(--SUBMIT-BUTTON-SHARED);
  letter-spacing: var(--SUBMIT-BUTTON-LS-SHARED);
  color: var(--SUBMIT-BUTTON-CLR);
  background-color: var(--SUBMIT-BUTTON-BG);
  line-height: 3.5rem;
  padding: 0rem 2.6875rem;
  box-shadow: var(--SUBMIT-BUTTON-SHADOW);
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
}

.sign-up-btn:disabled {
  background-color: var(--SUBMIT-BUTTON-DISABLED-BG);
  cursor: not-allowed;
}

.termsOfServices {
  font: var(--TCS-MOB);
  color: var(--TCS-CLR);
  max-width: 249px;
}

.termsOfServices a {
  font-weight: var(--TCS-LINK-SHARED);
  color: var(--TCS-LINK-CLR);
}

/* || Desktop */
@media screen and (min-width: 992px) {
  body {
    padding: 7.5625rem 10.3125rem;
    background-image: url("./images/bg-intro-desktop.png");
  }

  /* || WRAPPER */
  .section-wrapper {
    flex-flow: row;
    gap: 2.8125rem;
  }

  /* || HERO */
  .hero__title {
    font: var(--TITLE-DSK);
    text-align: left;
    max-width: 525px;
    letter-spacing: var(--TITLE-LS-DSK);
    margin-bottom: 0.6875rem;
  }

  .hero__description {
    text-align: left;
    max-width: 525px;
  }

  /* || MAIN */
  .main__cta {
    max-width: 540px;
    height: 60px;
    padding: 1.0625rem 6.875rem 1.0625rem 6.9375rem;
    text-align: left;
    white-space: nowrap;
  }

  .signup-form {
    width: 540px;
    min-height: 474px;
    padding: 2.5rem;
  }

  .form-container {
    gap: 20px;
  }

  .input-wrapper {
    max-width: 460px;
  }

  input {
    padding: 0.9375rem calc(27px + 24px + 12px) 0.9375rem 2rem;
  }

  .status-icon {
    right: 27px;
  }

  .message {
    top: 62px;
  }

  .sign-up-btn {
    padding: 0rem 8.3125rem;
  }

  .sign-up-btn:hover {
    background-color: #77e2b3;
  }

  .termsOfServices {
    font: var(--TCS-DSK);
    max-width: 369px;
    text-align: left;
  }
}
